.form-login-wrapper {
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 30px rgb(68, 68, 68);
  border-radius: 20px 0 0 20px;
}

.form-login {
  width: fit-content;
  margin: auto;
}

.form-login--title {
  padding-top: 84px;
  text-align: center;
}

.form-login--title .head {
  font-weight: 700;
  font-size: 35px;
  color: #3186f5;
  padding-bottom: 20px;
  letter-spacing: 0.1rem;
}

.form-login--title .foot {
  margin: auto;
  width: 327px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: black;
}

@media (max-width: 1000px) {
  .form-login {
    border-radius: unset;
  }
}

.form-login--content {
  width: fit-content;
  margin: 56px 156px;
}

.form-login--footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 15px;
}

.daftar {
  margin-top: 10px;
}

.link {
  color: #3186f5;
}

.form-forgot-password {
  width: fit-content;
  margin: auto;
}
