.form-login-wrapper {
  background-color: #fff;
  width: 84%;
  height: 94%;
  box-shadow: 1px 1px 30px rgb(68, 68, 68);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-login--title {
  text-align: center;
}

.form-login--title .head {
  font-weight: 700;
  font-size: 35px;
  color: #3186f5;
  margin-bottom: 8%;
  letter-spacing: 0.1rem;
}

.form-login--title .foot {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: black;
}

@media (max-width: 1000px) {
  .form-login {
    border-radius: unset;
  }
}

.form-login--content {
  width: fit-content;
  margin-top: 56px;
}

.form-login--footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 15px;
}

.daftar {
  margin-top: 10px;
}

.link {
  color: #3186f5;
}

.form-forgot-password {
  width: fit-content;
  margin: auto;
  width: 340px;
}
