.activity-page-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activity-content {
  display: flex;
  margin-top: 42px;
  flex-direction: row;
  justify-content: space-between;
}

.activity-content-left {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.activity-content-right {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.activity-sorting-btn {
  width: 360px;
  height: 42px;
  border-radius: 25px;
  border: 1px solid #3186f5;
}
