.activity-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activity-none {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activity-none-text {
  font-family: "Reem Kufi";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #3186f5;
}

.activity-page-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.activity-content {
  display: flex;
  margin-top: 42px;
  justify-content: center;
  column-gap: 20px;
  row-gap: 13px;
  flex-wrap: wrap;
}

.activity-content-left {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.activity-content-right {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.activity-sorting-btn {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 495px;
  height: 42px;
  border-radius: 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.warning-color {
  color: #cf4242;
}

.primary-color {
  color: #3186f5;
}

.success-color {
  color: #71d050;
}

.info-color {
  color: #e9eb76;
}

.active-color {
  color: #f5f5f5;
}

.sorting-btn-option {
  width: 165px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.sorting-active {
  cursor: pointer;
  width: 165px;
  height: 42px;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3186f5;
  transition: all 0.4s ease-in-out;
}
