.result-page-action {
  position: relative;
  /* margin-right: 90px; */
}

.result-page-content {
  width: 860px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 54px;
  column-gap: 50px;
  row-gap: 50px;
}

.modal-search-result {
  position: relative;
  z-index: 10;
}
