.activity-berlangsung-wrapper {
  width: 95%;
  margin: auto;
  padding-top: 35px;
}

.activity-next-title {
  width: 100%;
}

.activity-next-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 18px;
}

.activity-next-content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.next-content-left-status {
  width: 400px;
  height: 150px;
  background: #fdfdfd;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.next-content-left-desc {
  width: 400px;
  height: 250px;
  background: #fdfdfd;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.activity-next-content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.activity-next-content-right-detail-waktu {
  padding: 20px;
  box-sizing: border-box;
  width: 400px;
  height: 80px;
  background: #fdfdfd;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-next-content-right-detail-harga {
  width: 360px;
  background: #fdfdfd;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
}

.next-content-right-detail-harga {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid #d9d9d9;
}

.next-content-right-detail-harga-text {
  font-family: "Reem Kufi";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.next-content-right-detail-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 23px;
}

.next-content-right-detail-harga-harga {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
}

.activity-next-title {
  font-family: "Reem Kufi";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #3186f5;
}

.icon-activity {
  width: 100px;
  height: 100px;
}

.left-text-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
}

.title-icon-diterima {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #7d7d7d;
}

.left-text-title-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.next-content-left-text {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.content-left-desc-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-desc-box-title {
  font-family: "Reem Kufi";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #abaaaa;
}

.left-desc-box-desc {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.left-desc-box-desc-content-content-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #3186f5;
}

.left-desc-box-desc-content-content-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2b2b2b;
}

.left-desc-box-desc-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.left-desc-box-desc-content-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-desc-box-desc-content-dot {
  padding-top: 10px;
}

.activity-next-content-right-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.activity-next-content-right-left-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.activity-next-content-right-left-kategori {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.activity-next-content-right-left-date {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #7d7d7d;
}

.activity-next-content-right-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.activity-next-content-right-right-waktu {
  width: 82px;
  height: 30px;
  background: #84b9ff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #f5f5f5;
}

.activity-next-content-right-right-detail {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #7d7d7d;
}
