.form-forgot-content {
  margin: 75px 0;
}

.forgot-back-btn {
  text-align: center;
  margin-top: 27px;
}

.forgot-back {
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
}

.foot-forgot {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: black;
}
