.auth-layout{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.auth-layout--illustration{
    width: 60%;
    margin: auto;
    text-align: center;
}

.illustration-img {
    margin: auto;
    width: 110vh;
    height: 95vh;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.80), 0 8px 50px 0 rgba(0, 0, 0, 0.90);
}

img {
    width: 100%;
    height: 100%;
}

.auth-layout--form{
    width: 40%;
}