body {
  font-family: "Reem Kufi", sans-serif;
}

.auth-layout {
  background-color: #3186f5;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.auth-layout--form {
  width: 50%;
}

.auth-layout--logo {
  width: 50%;
}

.logo-auth {
  /* position: relative; */
  width: 170px;
  height: 300px;
  /* margin-top: -20px; */
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, 0); */
}

.auth-slogan {
  font-weight: 600;
  font-size: 30px;
  color: #ffff;
  /* margin-top: 345px; */
  text-align: center;
}

@media (max-width: 1000px) {
  .auth-layout--form {
    display: none;
  }
  .auth-layout--logo {
    width: fit-content;
  }
}
