.multiselect-wrapper {
  position: relative;
  width: 100%;
  border: 2px solid #abaaaa;
  border-radius: 5px;
  min-height: 1.5em;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}

.multiselect-wrapper:focus {
  border-color: black;
}

.multiselect-value {
  flex-grow: 1;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2b2b2b;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.clr-btn {
  background: none;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

.divider {
  background-color: #abaaaa;
  align-self: stretch;
  width: 1px;
}

.multiselect-dropdown {
  font-size: 25px;
  cursor: pointer;
}

.option {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2b2b2b;
  margin: 0;
  padding: 0;
  max-height: 139px;
  overflow-y: auto;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  left: 0;
  top: calc(100% + 5px);
  position: absolute;
  overflow-y: auto;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.option-value {
  padding: 10px 20px;
  cursor: pointer;
}

.option-value:hover {
  background-color: #ababab;
}

.option-multiple {
  display: flex;
  background: #d9d9d9;
  border-radius: 3px;
  border: none;
  outline: none;
  gap: 6px;
  align-items: center;
  cursor: pointer;
  padding: 4px;
}

.remove-multiple {
  font-size: 20px;
}
