.tolak-box {
  background: #ffffff;
  border: 1px solid #abaaaa;
  border-radius: 10px;
  width: 198px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  cursor: pointer;
}

.right-footer-admin {
  display: flex;
  gap: 25px;
  align-items: center;
}
