.activity-card {
  display: flex;
  width: 368px;
  height: 106px;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid #3186f5;
  gap: 23px;
  font-family: "Poppins", sans-serif;
}

.activity-link {
  text-decoration: none;
  color: inherit;
}

.activity-card-desc {
  margin-top: 14px;
  line-height: 24px;
}

.activity-card-img {
  margin-top: 14px;
  margin-left: 17px;
}

.card-desc-kategori {
  font-size: 14px;
  font-weight: 400;
}

.card-desc-jenis {
  font-size: 16px;
  font-weight: 700;
}

.card-desc-waktu {
  position: relative;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #7d7d7d;
  gap: 8px;
}

.icon-desc-waktu {
  position: relative;
  top: 3px;
  font-size: 16px;
  color: #3186f5;
}
