.form-register-wrapper {
  background-color: #fff;
  width: 84%;
  height: 94%;
  box-shadow: 1px 1px 30px rgb(68, 68, 68);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.form-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-register--footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}
