.akun-saya-wrapper {
  position: relative;
  top: 86px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.akun-saya-picture {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-bottom: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.akun-saya-profile-pic {
  width: inherit;
  height: inherit;
  border-radius: 100%;
}

.akun-saya-nama {
  font-family: "Reem Kufi";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  color: #3186f5;
  margin-bottom: 14px;
}

.akun-saya-total {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #3186f5;
  margin-bottom: 19px;
}

.akun-saya-btn-daftar {
  cursor: pointer;
  width: 260px;
  height: 59px;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 59px;
}

.akun-saya-btn-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #3186f5;
}

.akun-saya-option-container {
  display: flex;
  gap: 69px;
  padding-bottom: 12px;
  border-bottom: 1px solid #abaaaa;
}

.akun-saya-option {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.option-icon-container {
  width: 50px;
  height: 50px;
  display: flex;

  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: #3186f5;
}

.option-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
